{% extends 'rates/block_template.html' %}
{% load rate_tags %}
{% load static %}
{% block title %} {{ base_name }} {% endblock %}
{% block content %}

<div class="accordion" id="dateAccordion">
    {% for key, values in currency.items|dictsort:"0.date"%}
    <div class="card">
    <div class="card-header" id="heading{{key}}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{key}}{{ forloop.counter }}" aria-expanded="true" aria-controls="{{key}}{{ forloop.counter }}">
          {{key}} - {{key.date}}
        </button>
      </h2>
    </div>

    <div id="{{key}}{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{key}}" data-parent="#dateAccordion">
      <div class="card-body">
          <ul class="list-group list-group-flush">
              {% for val, rate in values.items %}
                  <li class="list-group-item">{{val}} - {{rate}}</li>
              {% endfor %}
          </ul>
      </div>
    </div>
    </div>
    {% endfor %}
 </div>
 {% endblock %}
